h1{
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'montserrat';
}

p{
    font-size: 1.1em;
    font-family: 'manrope';
}

li{
    font-size: 1em;
    font-family: 'manrope';
}

a{
    text-decoration: none;
}