h1{
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'montserrat' sans-serif;
}

p{
    font-size: 1.1em;
    font-family: 'manrope' sans-serif;
}

li{
    font-size: 1em;
    font-family: 'manrope' sans-serif;
}

a{
    text-decoration: dashed;
}