div{
    /*la parie de gauche s'appele propriété et la partie de droite s'appele valeur*/
    color: red;
    /*l'ensamble à pour nom sélecteur*/
    
    background: local;
    /*changement de couleur de fond pour la division*/
}

#solid{
    /*ajout de bordure en une ligne*/
    border: solid;
}

#double{
    /*ajout de bordure en double*/
    border: double;
}

#dotted{
    /*ajout de bordure en pointiller*/
    border: dotted;
}

#dashed{
    /*ajout de bordure en petit tiré*/
    border: dashed;
}

#div1{
  border: solid;
  color: red;
  border-radius: 25px 25px 45px 45px;
}

p{
  text-align: center;
}
#p1{
  color: blue;
}

#div2{
  border: double;
  color: violet;
  border-radius: 15px 40px 15px 40px;

}
#p2{
  color: chartreuse;
}

#div3{
  color: fuchsia;
  border: dotted;
  border-radius: 50px 20px 50px 20px;
  /*changement de taille de la largeur de la bordure*/
  width: 185px;
  /*changement de taille de la hauteur*/
  height: 50px;
}

#div5{

    border: solid;
    color: rgb(255, 255, 255);
    background: linear-gradient(30deg, blue, rgb(187, 24, 160), rgb(224, 73, 214));
    border-radius: 30% 70% 70% 30% / 30% 58% 42% 70%;
    width: 150px;
    height: 150px;
}

#div6{
    border: solid;
    background: red;
    width: 160px;
    height: 140px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 0px rgb(0,0,0);
    
}