p{
    text-align: center;
    color:red
}

h1{
    color:green
}

ol{
    color:purple
}

li{
    /*changement sde couleur pour la balise li*/
    text-align: center;
    color:brown
}

h4{
    /*changement de couleur pour la balise h4*/
    color:orange
}

h3{
    /*changement de couleur en bleu ciel pour la balise h3*/
    color:aqua
}

h2{
    /*changement de couleur en vert claire pour la balise h2*/
    color:chartreuse
}

#paragraph1{
    /*changement de couleur pour un seul paragraphe*/
    color:blue;
    font-size: 40px;
    font-family: 'trirong', sans-serif;
}

p.rsma{
    /*changement de couleur pour un paragraphe choisis*/
    color: blue;
    font-size: 30px;
    font-family: 'oswald', serif;
    text-align: center;
}

p.mayotte{
    /*changement de couleur pour un paragraphe precis*/
    color: violet;
    font-family: 'sofia', sans-serif;
    font-size: 25px;
    text-decoration: underline;
}

p.mayotte1{
    /*changement de couleur pour un paragraphe precis*/
    color: fuchsia;
    font-family: 'papyrus', fantasy;
    font-size: 50px;
    font-weight: bold;
}

li.surface{
    /*changement de couleur pour les balise li*/
    color: yellow;
    font-family: 'papyrus', fantasy;
    font-size: 25px;
    font-style: italic;
}

body{
    /*changement de couleur en noir pour le fond de la page*/
    background-color: black;

}

p.ma{
    /*cette commande permet de changer d'un ou plusieurs paragraphe*/
    font-size: 25px;
}