table{
    border: solid, 2px;
    background-color: aqua;
    width: 100%;
    border-collapse: collapse;

}

td, th{
    border-collapse: collapse, 2px;/*permet de coller les bord dun tableau afin que le rendue sois bien presenter*/
    border: 2px;
}